.bannerAvatarDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 20px;
    position: relative;
}

.bannerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
   
    height: 200px;
}

.bannerDiv img{
  height: 200px;
width: 100%;
 border-radius: 5px;
}

.avatar{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 130px;
}

.profileInfoDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin-top: 50px;
    gap: 12px;
}
