.nameCreatedImgDiv{
    display: flex;
    flex-direction: column;


}
.h1Div{
    display: flex;
    flex-direction: row;
padding-top: 20px;
    padding-bottom: 20px;
    width: 100vw;
    justify-content: center;
}

.h2{
margin-left: -14px;

}

.innerContainer{
     background-color: var(--primary-color-2);
    border-radius: 5px;
    padding: 20px;
    border: 3px solid var(--tertiary-color-1);
}

.outerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 margin-bottom: 20px;
    width: 100vw;
 
}

.nameCreatedDiv{
    display: flex;
    flex-direction: row;
justify-content: space-between;
padding-left: 20px;
padding-right: 20px;



width: 650px;
position: absolute;



}

.bookingImg{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 50px;
    border-radius: 5px;
}

.bookingInfoGrid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 500px;
    height: 100px;
 align-items: center;


    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;

}

.bookingInfoDiv{
    display: flex;
    flex-direction: column;
 justify-content: center;
    width: 520px;
    height: 100%;
 
}

.cardLayout{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}