/* Select and Search Bar Styles */

.selectWrapper {
  background-color: var(--primary-color-2);
  border-radius: 18px;
  width: 550px;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}


.suggestionContainer{

margin-top: -18px;

}

.searchSelectBar {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchInputIconDiv{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}


.optionAndInput {
  width: 200px;
  height: 30px;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 5px;
  font-size: var(--font-size-small);
      font-family: var(--font-family-4);
  color: var(--primary-color-3);
  line-height: 150%;
  letter-spacing: 0.5%;
}

.customMenu {
  background-color: var(--primary-color-2) !important;
  color: var(--secondary-color-2) !important;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 120px;
}

.selectOption {
  background-color: var(--primary-color-1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
}

.selectLabel {
  position: absolute;
  margin-top: -10px;
  margin-left: -10px;
  color: var(--primary-color-3);
  font-family: var(--font-family-4);
  font-size: var(--font-size-small);
  line-height: 160%;
  letter-spacing: 0.5%;
  transform: translate(-20%, -30%);
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.selectOption .MuiSelect-select {
  display: flex;
  align-items: center;
  justify-content: center;
}

.suggestionList {
  background-color: var(--primary-color-2);
  color: var(--secondary-color-2);
  position: relative;
  border-radius: 10px;
  width: 100vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 12px;
  font-family: var(--font-family-2);
  font-size: var(--font-size-small);
  line-height: 150%;
  letter-spacing: 0.5%;
  overflow-y: auto;
}

.selectDiv {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.selectDropDown {
  width: 200px;
  height: auto;
}

.orDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.orP {
  font-size: var(--font-size-small);
  color: var(--primary-color-1);
  font-family: var(--font-family-2);
  line-height: 150%;
  letter-spacing: 0.5%;
}

.searchIcon {
  width: 32px;
  height: 32px;
padding-right: 10px;
  color: var(--primary-color-3);
  font-family: var(--font-family-4);
  font-size: var(--font-size-small);
  line-height: 150%;
  letter-spacing: 0.5%;
}

.closeButton {
  background: transparent;
  border: none;
  font-size: var(--font-size-small-3);
  color: var(--secondary-color-2);
  font-family: var(--font-family-3);
  cursor: pointer;
  float: right;
  line-height: 130%;
  letter-spacing: 2%;
}

.closeButton:hover {
  color: var(--secondary-color);
}


/* Stay Card Styles */

.mobileView{
  display: none;
}

.stayImg{

  max-width: 250px;
  max-height: 250px;
  object-fit: contain;


}

.imgContainer{
  display: flex;
 justify-content: center;
align-items: center;
width: 250px;
height: 250px;
overflow: hidden;
object-fit: contain;

}

.carousel{


 width: 250px;
 height: 250px;
}

.stayCardLayoutBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.stayCardOuterWrapper{
  width: 1000px;
  height: 506px;
  background-color: var(--primary-color-2);
  margin-bottom: 20px;
border-radius: 5px;
border: 3px solid var(--tertiary-color-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.stayCardWrapper{
  max-width: 875px;
  width: auto;
  height: 310px;
  background-color: var(--primary-color-1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 4px;
}

.nameRatingDiv{
  display: flex;
  flex-direction:column;
  align-items: start;
width: 500px;

}

.ratingAvailabilityBtnDiv{
  display: flex;
  flex-direction: column;
  gap: 100px;
align-items: center;
width: 200px;
}

.description{
  max-width: 250px;
  max-height: 60px;
  overflow-y: scroll;
}
.stayCardIcons{
  width: 32px;
  height: 32px;
}

.location, .stayCardPrice{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stayImageContainer{
  display: flex;
  flex-direction: row;

  justify-content: start;
 padding-left: 20px;
}

.stayDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 14px;
  width: 400px;
}

.h1Home{
  max-width: 350px;
  text-wrap: wrap;
  text-align: left;
}

.star{
  color: var(--secondary-color);
  width: 100%;
 white-space: none;
}

.ratingNumberBg{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color-2);
  width: 54px;
  height: 48px;
  border-radius: 5px;
}


@media (max-width: 486px) {



.customMenu {

  margin-top: 155px;
  width: 200px;
}

  .searchDiv{
 display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-2);
    width: 295px;
    height: 50px;
    border-radius: 18px;
  }



.selectOption{
  height: 40px;

}

.optionAndInput{
  height: 40px;
}

.selectLabel {

position: relative;
display: flex;
  transform: translate(-50%, -50%);
  margin-top: 0.5px;
  text-align: center;
  justify-content: center;
  align-items: center;

}



  .selectBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-2);
    width: 295px;
    height: 50px;
    border-radius: 18px;
  }

.selectDiv {
  display: flex;
  flex-direction: column;
  gap: 8px;
align-items: center;
}

.searchIcon {
  width: 24px;
  height: 24px;
  padding-right: 0;

}

.searchInputIconDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  width: 200px;
}


.selectWrapper {
  background: none;
  border-radius: 18px;
  width: 290px;
  height: 200px;
  display: flex;
  flex-direction: column;



}

.closeButtonDiv{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 90vw;
}

.suggestionContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
margin-top: -45.8px;
  gap: 0;
}

   .suggestionList {
 
  font-family: var(--font-family-2);
  font-size: var(--font-size-small-3);
  line-height: 160%;
  letter-spacing: 0%;

}


  .orP {
    font-size: var(--font-size-small-3);
    line-height: 160%;
    letter-spacing: 0.5%;
  }

  .optionAndInput {
  
    font-size: var(--font-size-small-3);
    width: 200px;
    line-height: 160%;
    letter-spacing: 0.5%;
  }

  .searchIcon {
    width: 24px;
    height: 24px;
  }

  .closeButton {
    font-size: var(--font-size-tiny);
    line-height: 130%;
    letter-spacing: 2%;
  }



  .nameRatingDiv{
   display:none;
  }

  .ratingBox{
    display: none;
  }

  .mobileView{
    display: flex;
    flex-direction: column;
  }


  .stayCardWrapper{
    width: 220px;
    height: auto;
    flex-direction: column;
    gap: 8px;
  }


  .stayCardOuterWrapper{
  width: 300px;
  min-height: 550px;
  height: auto;

}

.ratingBoxMobile{
 display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 300px;
  gap: 15px;
  margin-top: 12px;
}

.ratingNumberBg{
  width: 24px;
  height: 24px;
}

.nameRatingDivMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}
.stayImageContainer{
 

  justify-content: center;
 padding-left: 0;
}

.carousel{


 width: 200px;
 height: 200px;
}

.h1HomeMobile{
  max-width: 200px;
  text-wrap: wrap;
  text-align: center;
    overflow-y: hidden;
}


.h1Home{
  display: none;
}

.ratingAvailabilityBtnDiv{
  padding-bottom: 18px;
}

.stayDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  width: 220px;
}

.location{
  max-width: 200px;
}

}

@media (min-width: 487px) and (max-width: 768px) {


.customMenu {

  margin-top: 155px;
  width: 200px;
}

  .searchDiv{
 display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-2);
    width: 295px;
    height: 50px;
    border-radius: 18px;
  }



.selectOption{
  height: 40px;

}

.optionAndInput{
  height: 40px;
}

.selectLabel {

position: relative;
display: flex;
  transform: translate(-50%, -50%);
  margin-top: 0.5px;
  text-align: center;
  justify-content: center;
  align-items: center;

}



  .selectBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-2);
    width: 295px;
    height: 50px;
    border-radius: 18px;
  }

.selectDiv {
  display: flex;
  flex-direction: column;
  gap: 8px;
align-items: center;
}

.searchIcon {
  width: 24px;
  height: 24px;
  padding-right: 0;

}

.searchInputIconDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  width: 200px;
}


.selectWrapper {
  background: none;
  border-radius: 18px;
  width: 290px;
  height: 200px;
  display: flex;
  flex-direction: column;



}

.closeButtonDiv{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 90vw;
}

.suggestionContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
margin-top: -45.8px;
  gap: 0;
}

   .suggestionList {
 
  font-family: var(--font-family-2);
  font-size: var(--font-size-small-2);
  line-height: 160%;
  letter-spacing: 0.5%;

}
  .orP {
    font-size: var(--font-size-small-2);

    line-height: 160%;
    letter-spacing: 0.5%;
  }

  .optionAndInput {
    font-size: var(--font-size-small-2);

    line-height: 160%;
    letter-spacing: 0.5%;
  }

  .nameRatingDiv{
   display:none;
  }

  .ratingBox{
    display: none;
  }

  .mobileView{
    display: flex;
    flex-direction: column;
   
  }

  .stayCardWrapper{
    width: 220px;
  height: 700px;
  height: auto;
    flex-direction: column;
    gap: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
  }


  .stayCardOuterWrapper{
  width: 300px;
  height: auto;

}
.ratingBoxMobile{
 display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 300px;
  gap: 15px;
  margin-top: 12px;
}

.ratingNumberBg{
  width: 24px;
  height: 24px;
}

.nameRatingDivMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.stayImageContainer{
 

  justify-content: center;
 padding-left: 0;
}

.carousel{


 width: 200px;
 height: 200px;
}

.h1HomeMobile{
  max-width: 200px;
  text-wrap: wrap;
  text-align: center;
  overflow-y: hidden;
}

.h1Home{
  display: none;
}

.ratingAvailabilityBtnDiv{
  padding-bottom: 18px;
}

.stayDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  width: 220px;
}

.location{
  max-width: 200px;
}
}
