/* Select and Search Bar Styles */

.selectWrapper {
  background-color: var(--primary-color-2);
  border-radius: 18px;
  width: 550px;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
position: relative;
}

.selectBox{
  position: relative;
}

.closeButtonDiv{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  width: 480px;
  position: absolute;
  height: 50px;
  z-index:2;


}


.suggestionContainer{

margin-top: -60px;
display:flex;
flex-direction: column;
align-items: center;
overflow: visible;
position: relative;
}

.searchSelectBar {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.searchInputIconDiv{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}


.optionAndInput {
  width: 200px;
  height: 30px;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 5px;
  font-size: var(--font-size-small);
      font-family: var(--font-family-4);
  color: var(--primary-color-3);
  line-height: 150%;
  letter-spacing: 0.5%;
}

.customMenu {
position: absolute !important;


 
  background-color: var(--primary-color-2) !important;
  color: var(--secondary-color-2) !important;
  border: 1px solid #ccc !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1) !important;
 width: 200px;


}

.selectOption {
  background-color: var(--primary-color-1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
 
}

.selectLabel {
  position: absolute;
  margin-top: -10px;
  margin-left: -10px;
  color: var(--primary-color-3);
  font-family: var(--font-family-4);
  font-size: var(--font-size-small);
  line-height: 160%;
  letter-spacing: 0.5%;
  transform: translate(-20%, -30%);
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.selectOption .MuiSelect-select {
  display: flex;
  align-items: center;
  justify-content: center;
}

.suggestionList {
  background-color: var(--primary-color-2);
  color: var(--secondary-color-2);
  position: relative;
  border-radius: 10px;
  width: 500px;
  max-height: 300px;
  display: flex;
  flex-direction: column;

  align-items: left;
  gap: 12px;
  font-family: var(--font-family-2);
  font-size: var(--font-size-small);
  line-height: 150%;
  letter-spacing: 0.5%;
  overflow-y: auto;
}

.selectDiv {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 30px;
}

.selectDropDown {
  width: 200px;
  height: auto;
}

.orDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.orP {
  font-size: var(--font-size-small);
  color: var(--primary-color-1);
  font-family: var(--font-family-2);
  line-height: 150%;
  letter-spacing: 0.5%;
}

.searchIcon {
  width: 32px;
  height: 32px;
padding-right: 10px;
  color: var(--primary-color-3);
  font-family: var(--font-family-4);
  font-size: var(--font-size-small);
  line-height: 150%;
  letter-spacing: 0.5%;
}

.closeButton {
  background: transparent;
  border: none;
  font-size: var(--font-size-small-3);
  color: var(--secondary-color-2);
  font-family: var(--font-family-3);
  cursor: pointer;
  float: right;
  line-height: 130%;
  letter-spacing: 2%;
}

.closeButton:hover {
  color: var(--secondary-color);
}


/* Stay Card Styles */

.mobileView{
  display: none;
}

.stayImg{

  max-width: 250px;
  max-height: 250px;
  object-fit: contain;


}

.imgContainer{
  display: flex;
 justify-content: center;
align-items: center;
width: 250px;
height: 250px;
overflow: hidden;
object-fit: contain;

}

.carousel{


 width: 250px;
 height: 250px;
}

.stayCardLayoutBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.stayCardOuterWrapper{
  width: 90vw;
  height: auto;
  background-color: var(--primary-color-2);
  margin-bottom: 20px;
border-radius: 5px;
border: 3px solid var(--tertiary-color-1);
  display: flex;
  justify-content: center;
  align-items: center;
padding: 20px;
}

.stayCardWrapper{
  width: 90vw;
  height: 380px;

  background-color: var(--primary-color-1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 4px;
  padding: 8px;
}

.nameRatingDiv{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  position: relative;
min-width:800px;
width:100%;


}



.ratingAvailabilityBtnDiv{
  display: flex;
  flex-direction: column;
  gap: 150px;
align-items: flex-end;
justify-content: flex-end;
width: 300px;
height: fit-content;

}

.starRatingDiv{
  display: flex;
  flex-direction: row;
  position: relative;
 

}

.description{
  max-width: 250px;
  max-height: 60px;
  overflow-y: auto;
}
.stayCardIcons{
  width: 32px;
  height: 32px;
}

.location, .stayCardPrice{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.location{
  max-width: 200px;
  text-wrap: wrap;
  overflow-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden;
}


.stayImageContainer{
  display: flex;
  flex-direction: row;

  justify-content: start;
 padding-left: 20px;
}

.stayDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  width: 280px;
}

.ratingBox{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.h1Home{
   text-align: left;
    width: auto;
max-height: 3em;
 overflow-y: auto;
  overflow-x: hidden;
   max-width: 220px;
   text-wrap:wrap;
}

.star{
  color: var(--secondary-color);
  width: 100%;
 white-space: none;
}

.ratingNumberBg{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color-2);
  width: 54px;
  height: 48px;
  border-radius: 5px;
}


@media (max-width: 486px) {


.description{
  width: 180px;
max-height: 4em;
overflow-x: hidden;
overflow-y: auto;
text-wrap: wrap;
margin-left: 10px

}

.customMenu {

  margin-top: 155px;
  width: 200px;
}

  .searchDiv{
 display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-2);
    width: 295px;
    height: 50px;
    border-radius: 18px;
  }



.selectOption{
  height: 40px;

}

.optionAndInput{
  height: 40px;
}

.selectLabel {

position: relative;
display: flex;
  transform: translate(-50%, -50%);
  margin-top: 0.5px;
  text-align: center;
  justify-content: center;
  align-items: center;

}



  .selectBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-2);
    width: 295px;
    height: 50px;
    border-radius: 18px;
    
  }

.selectDiv {
  display: flex;
  flex-direction: column;
  gap: 8px;
align-items: center;

}

.searchIcon {
  width: 24px;
  height: 24px;
  padding-right: 0;

}

.searchInputIconDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  width: 200px;
}


.selectWrapper {
  background: none;
  border-radius: 18px;
  width: 290px;
  height: 200px;
  display: flex;
  flex-direction: column;



}

.closeButtonDiv{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 200px;
}

.suggestionContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

margin-top: -24.8px;
  gap: 0;

}

   .suggestionList {
 
  font-family: var(--font-family-2);
  font-size: var(--font-size-small-3);
  line-height: 160%;
  letter-spacing: 0%;
width: 200px;

}


  .orP {
    font-size: var(--font-size-small-3);
    line-height: 160%;
    letter-spacing: 0.5%;
  }

  .optionAndInput {
  
    font-size: var(--font-size-small-3);
    width: 200px;
    line-height: 160%;
    letter-spacing: 0.5%;
  }

  .searchIcon {
    width: 24px;
    height: 24px;
  }

  .closeButton {
    font-size: var(--font-size-tiny);
    line-height: 130%;
    letter-spacing: 2%;
  }



  .nameRatingDiv{
   display:none;
  }

  .ratingBox{
    display: none;
  }

    .mobileView{
    display: flex;
    flex-direction: column;
 max-height: 150px;
 max-width: 180px;

    
  }

  .stayCardLayoutBox{
    height: auto;
    min-height: 300px;
    
  }

  .stayCardOuterWrapper{
    width: 90vw;
    height: auto;
    min-height: 750px;
    background-color: var(--primary-color-2);
  
 margin:auto, 0;

  }


  
  .stayCardWrapper{
    width: 220px;
  height: 700px;
 
    flex-direction: column;
    gap: 8px;
   
   
  }

 

.ratingBoxMobile{
 display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 50px;
  margin-bottom: auto;
  gap: 15px;

}

.ratingNumberBg{
  width: 24px;
  height: 24px;
}

.nameRatingDivMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
 
 
}
.stayImageContainer{
 

  justify-content: center;
 padding-left: 0;
}

.carousel{


 width: 200px;
 height: 200px;
}

.h1HomeMobile{
  width: 200px;
  text-wrap: wrap;
  text-align: center;
max-height: 2.5em;
 overflow-y: auto;
  overflow-x: hidden;
    white-space: normal;


}


.h1Home{
  display: none;
}

.ratingAvailabilityBtnDiv{
  padding-bottom: 18px;
  align-items: flex-start;
    height: 40px;
  width: 200px;
}

.stayDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 14px;
  width: 220px;
}


.location{
  max-width: 200px;
  text-wrap: wrap;
  overflow-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden;
}


.searchSelectBar {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}
.buttonAvailability{
  margin-right: 0;
}

.buttonAvailabilityContainer{
  display: flex;
  flex-direction: row;

 justify-content: center;

width: 200px;
}

}

@media (min-width: 487px) and (max-width: 768px) {


.customMenu {

  margin-top: 135px;
  width: 200px;
}

  .searchDiv{
 display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-2);
    width: 295px;
    height: 50px;
    border-radius: 18px;
  }



.selectOption{
  height: 40px;

}

.optionAndInput{
  height: 40px;
}

.selectLabel {

position: relative;
display: flex;
  transform: translate(-50%, -50%);
  margin-top: 0.5px;
  text-align: center;
  justify-content: center;
  align-items: center;

}



  .selectBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-2);
    width: 295px;
    height: 200px;

    border-radius: 18px;
  }

.selectDiv {
  display: flex;
  flex-direction: column;
  gap: 8px;
align-items: center;
}

.searchIcon {
  width: 24px;
  height: 24px;
  padding-right: 0;

}

.searchInputIconDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  width: 200px;
}


.selectWrapper {
  background: none;
  border-radius: 18px;
  width: 290px;
  height: 200px;
  display: flex;
  flex-direction: column;



}

.closeButtonDiv{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  width: 200px;
}






.suggestionContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
margin-top: -20.8px;
  gap: 0;

}

   .suggestionList {
 
  font-family: var(--font-family-2);
  font-size: var(--font-size-small-2);
  line-height: 160%;
  letter-spacing: 0.5%;

}
  .orP {
    font-size: var(--font-size-small-2);

    line-height: 160%;
    letter-spacing: 0.5%;
  }

  .optionAndInput {
    font-size: var(--font-size-small-2);

    line-height: 160%;
    letter-spacing: 0.5%;
  }

  .nameRatingDiv{
   display:none;
  }

  .ratingBox{
    display: none;
  }

  .mobileView{
    display: flex;
    flex-direction: column;

  }

  .stayCardWrapper{
    width: 320px;
  height: 700px;
  
    flex-direction: column;
    gap: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
   
  }


  .stayCardOuterWrapper{
  width: 350px;
 height: auto;
}
.ratingBoxMobile{
 display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 300px;
  gap: 15px;
margin-bottom: auto;
}

.ratingNumberBg{
  width: 24px;
  height: 24px;
}

.nameRatingDivMobile {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.stayImageContainer{
 

  justify-content: center;
 padding-left: 0;
}

.carousel{


 width: 200px;
 height: 200px;
}

.h1HomeMobile{
 


 
  text-align: center;


  width: 200px;
  text-wrap: wrap;
  text-align: center;
max-height: 3em;
 overflow-y: auto;
  overflow-x: hidden;
    white-space: normal;
}

.h1Home{
  display: none;
}

.ratingAvailabilityBtnDiv{
  padding-bottom: 18px;
  align-items: flex-start;
  height: 40px;
  width: 200px;
}

.stayDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 14px;
  width: 220px;
}

.stayCardLayoutBox{
  height: auto;
  min-height: 300px;
  
}

.location{
  max-width: 200px;
  text-wrap: wrap;
  overflow-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden;
}

.searchSelectBar {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}
.buttonAvailability{
  margin-right: 0;
}

.buttonAvailabilityContainer{
  display: flex;
  flex-direction: row;

 justify-content: center;

width: 200px;
}

}
