.imageListContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
  width: 400px;
  min-height: 250px;
  border: 3px solid var(--tertiary-color-1);
  border-radius: 10px;
  overflow: hidden;
}

.imageListWrapper {
  overflow: hidden;
}

.imageListItem {
  overflow-y: hidden;
}

.responsiveDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.locationDescDiv {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 400px;
}

.descriptionPriceDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 12px;
  width: 200px;
  height: 200px;
}
.descriptionDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 400px;
}

.h1 {
  position: static;
  text-wrap: wrap;
  width: auto;
}

.imageItem {
  width: 50%;
  object-fit: cover;
  border-radius: 8px;
}

.imageItem:nth-child(1) {
  grid-column: span 2;
  height: 200px;
}

.imageItem:nth-child(2),
.imageItem:nth-child(3) {
  height: 150px;
}

.imageItem:nth-child(4) {
  height: 100px;
}

.stayNameRatingDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 28px;
  overflow-y: hidden;
  width: auto;
  padding: 10px;
  position: static;
  z-index: 2;
}

.nameRatingImages {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  height: max-content;
}

.stayCardPosition {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 12px;
  height: max-content;
}

.stayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 40px;
  padding-top: 20px;

  gap: 20px;
  width: 100%;
  max-height: 800px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--primary-color-2);
}

.description {
  width: 100%;
  height: 80px;
  overflow-y: auto;
}

.totalPriceDiv{
  width: 400px;
  align-items: center;
  display : flex;
  flex-direction: column;
}

.bookingSection {
  display: flex;
  flex-direction: column;
  width: auto;
  height: max-content;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.stayStar {
  color: var(--secondary-color);

  z-index: 2;
}

.facilityDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  gap: 12px;
}

.facilH2Div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.facilityDiv li {
  background-color: var(--Button-Active-color-1);
  box-shadow: inset 0 0 20px #320e3b;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 32px;
  height: 32px;
}

.checkInOutDiv {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
  border: 3px solid var(--tertiary-color-1);
  border-radius: 5px;
  width: auto;
  gap: 8px;
  padding: 4px;
  overflow-x: visible;
}

.datePicker {
  background-color: var(--primary-color-1);
  overflow-y: hidden;
  flex: 1 1 200px;
}

.guestDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.bookingCalendarDiv {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

/* MEDIA QUERIES */

@media (min-width: 487px) and (max-width: 768px) {
  .stayNameRatingDiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    gap: 0;
    padding: 0;
  }

  .responsiveDiv {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 12px;
  }

  .locationDescDiv {
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .checkInOutDiv {
    max-width: 400px;
  }
  .descriptionPriceDiv {
    align-items: center;

    gap: 0;
    width: 300px;
    justify-content: flex-start;
  }

  .facilityDiv {
    justify-content: center;
    width: 100%;
  }

  .facilityUl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .locDescFacilDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    height: 600px;
  }

  .facilH2Div {
    gap: 0;

    height: 400px;
    width: 400px;
  }

  .h2Stay {
    padding-bottom: 0;
  }

  .nameRatingImages {
    gap: 0;
  }
  .stayContainer {
    padding-bottom: 100px;
  }

  .buttonDiv {
    margin-top: 22px;
  }
}

@media (max-width: 486px) {
  .stayNameRatingDiv {
    display: flex;
    flex-direction: column;
  }

  .responsiveDiv {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 12px;
  }

  .locationDescDiv {
    align-items: center;
    width: 250px;
  }

  .locationDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .locationDiv p {
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    text-wrap: wrap;
    max-width: 200px;
  }

  .checkInOutDiv {
    max-width: 180px;
  }

  .descriptionPriceDiv {
    margin-top: 8px;
    align-items: center;
    width: 100%;
  }

  .description {
    max-width: 180px;
    align-items: center;
    text-wrap: wrap;
  }

  .facilityDiv li {
    width: 65px;
    height: 65px;
  }

  .facilityUl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    width: 300px;
    margin: 0;
    padding: 0;
  }

  .facilityDiv {
    justify-content: center;
    width: 100%;
    position: relative;
    width: 220px;
  }

  .facilH2Div {
    gap: 8px;
    margin-top: 8px;
    height: 400px;
    width: 400px;
  }

  .imageListContainer {
    width: 230px;
    height: 250px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    border: 3px solid var(--tertiary-color-1);
    border-radius: 10px;
  }

  .h2Stay {
    text-wrap: wrap;
    text-align: center;
    max-width: 200px;
  }

  .bookingCalendarDiv {
    align-items: center;
  }

  .calendar {
    width: 100px;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  .guestDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .guestLabelDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .nameRatingImages {
    gap: 0;
  }
}
