  .createVenueFormDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  margin-top: 12px;

   padding-top: 220px;
overflow: hidden;;


}

.removeBtnDiv{
    margin-bottom: 10px;
}

.addBtnDiv{
    margin-bottom: 10px;
}

.metaBox{
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    flex-wrap: wrap;
  
}

.createVenueForm{
    display: flex;
    flex-direction: column;
   width: 600px;

   height: 80vh;
padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 22px;
    background-color: var(--primary-color-2);
    overflow-y: auto;
    position:fixed;


}
.metaButton{


  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
color:var(--primary-color-1)}

.metaImg{
    width: 42px;
    height: 42px;
}

.overlay {
position: static;
 
  width: 100%;
  height: auto;
 background-color: rgba(0, 0, 0, 0.6);
 
}




@media (min-width: 487px) and (max-width: 768px) {
   
    .createVenueForm{
     width: 400px;
    }


.metaImg{
    width: 32px;
    height: 32px;
}

.metaButton{


  width: 92px;
  height: 92px;
 

}

.metaBox{
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
}
}

@media (max-width: 486px) { 
    .createVenueForm{
   width: 220px;
    }


.metaImg{
    width: 24px;
    height: 24px;
}

.metaButton{


  width: 72px;
  height: 72px;

 

}

.metaBox{
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
}}