.footer{
   display: flex;
 justify-content: center;
  width: 100vw;
  height: 82px;
  
  align-items: center;
  position: relative;
   background-color: var(--primary-color-2);


}

.crDiv{
     padding-left: 20px;
}

.copyRight{
    font-size: var(--font-size-small-3);
    color: var(--primary-color-1);

    white-space: nowrap;
    font-family: var(--font-family-3)
}

.registerLoginDiv{ display: flex;
  justify-content: center;
gap: 12px;
  margin: 0 auto;
  width: 100%}

  .footerA{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
 color: var(--secondary-color-2);
    font-family: var(--font-family-2);
    font-size: var(--font-size-small-3);
    text-decoration: none;
  }

 

  .smIconsDiv{
padding-right: 20px;
    display: flex;
  }


  @media (max-width: 486px){
.copyRight, .footerA{
    font-size: var(--font-size-tiny);



    
}

  }