
.hamburgerButton {
    display: none;
}

.logo{
  
  width: 85px;
  height: 85px;
  border-radius: 20px;
  border: 2px solid var(--secondary-color);
}
.header {
  display: flex;
 justify-content: space-evenly;
  width: 90vw;
  height: 15vh;
  
  align-items: center;
  position: relative;
   background-color: var(--primary-color-2);
  border-radius: 20px;
margin-top: 20px;

}

.headerDiv {
  display: flex;
justify-content: space-between;
  width: 90vw;
   justify-self: center;
}

.navUl{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navIcons{
  width:32px;
  height:32px;
}

.navLi{
  list-style: none;
 display: flex;
 flex-direction: row;
 align-items: center;


}

.navLink{
  color: var(--secondary-color-2);
  font-family: var(--font-family-2);
}


.labelWhite {
  font-size: var(--font-size-small);
  color: var(--primary-color-1);
  font-family: var(--font-family-3);
}

.labelWhiteBold{
   font-size: var(--font-size-small);
  color: var(--primary-color-1);
  font-family: var(--font-family-2);
  font-weight: bold;
}

.dropDownBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
background-color: var(--primary-color-2);
}