.buttonDiv {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  padding-top: 20px;
  gap: 12px;
}

.createButton {
  margin-bottom: 20px !important;
}

.venueNameRatingBoxMobile {
  display: none;
}

.ratingBoxMobile {
  display: none;
}
.h1CreateBtnDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  gap: 12px;
  padding-top: 20px;
}

.outerBox {
  width: 90vw;
  height: auto;
  background-color: var(--primary-color-2);
  margin-bottom: 20px;
  border-radius: 5px;
  border: 3px solid var(--tertiary-color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.innerBox {
  max-width: 875px;
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: var(--primary-color-1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.venueBoxOne {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 310px;
  width: 600px;
  align-items: center;
  gap: 20px;
}

.venueInfoBoxTwo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 200px;
  padding-right: 5px;
}

.facilityList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 8px;
}

.facilityList li {
  list-style: none;
  background-color: var(--Button-Active-color-1) !important;
  box-shadow: inset 0 0 20px #320e3b !important;
  width: 75px;
  height: 75px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.facilityList li img {
  width: 32px;
  height: 32px;
  display: block !important;
}

.venueCarousel {
  width: 250px;
  height: 250px;
  align-items: center;
  justify-content: center;
}

.imgContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
}

.venueImg {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  object-fit: cover;
}

.venueCardPosition {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.star {
  color: var(--secondary-color);
  width: 100%;
  white-space: none;
}

.ratingNumberBg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color-2);
  width: 42px;
  height: 42px;
  border-radius: 5px;
}

.bookingsMessage {
  position: absolute;
  background-color: var(--secondary-color) !important;
  color: var(--primary-color-1) !important;
}

.venueInfoBoxOne {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  width: auto;
  height: auto;
}

.venueNameRatingBox {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: auto;
  align-items: center;
}

.bookingsInfoMsgBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100vw;
  height: 20px;
  margin-bottom: 40px;
  position: static;
}

.venueRating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
}

.venueName {
  width: 100%;
  text-align: left;
}

.ratingBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  min-width: 280px;
  max-width: 100%;

  height: auto;
  margin-top: 80px;
}

.h4 {
  margin-top: 20px;
}

.icons {
  width: 32px;
  height: 32px;
}

.locationBox,
.priceBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.description {
  width: auto;
  max-width: 300px;
  max-height: 100px;
  overflow-y: scroll;
}

.mobileViewBookings {
  display: none;
}

.buttonDivPopup {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.venueNameImgDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.bookingImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  border: 3px solid var(--tertiary-color-1);
}

.bookingInfoDiv {
  display: flex;
  flex-direction: row;

  height: auto;
  width: max-content;

  gap: 20px;
  justify-content: center;
  align-items: center;
}

.bookingRowDiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  width: 200px;
  height: auto;
  gap: 4px;
}

.bookingCardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.bookingCardBg {
  
  background-color: var(--primary-color-2);
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 20px;
}

.mobileViewBookings {
  display: none;
}

.desktopViewBookings {
  display: flex;
  flex-direction: column;
}

@media (min-width: 487px) and (max-width: 768px) {
  .bookingCardBg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .bookingInfoDiv {
    flex-direction: column;
    align-items: center;
    
  }

  .bookingGridDiv {
    display: flex;
    flex-direction: column;
    width: 200px;
align-items: flex-start;
   
  }

  .bookingRowDiv {
    width: 200px;


  
  }

  .mobileViewBookings {
    display: flex;
  }

  .desktopViewBookings {
    display: none;
  }
  .venueCardPosition {
    flex-direction: column;
  }
  .outerBox {
    flex-direction: column;

    width: 80vw;
  }
  .innerBox {
    flex-direction: column;
    height: 100%;
    max-width: 400px;
  }

  .venueBoxOne {
    flex-direction: column;
    height: max-content;
    width: max-content;
    gap: 0;
  }

  .mobileLayoutBoxOne {
    display: flex;
    flex-direction: column-reverse;
  }

  .venueNameRatingBoxMobile {
    display: flex;
    flex-direction: column;
  }

  .venueNameRatingBox {
    display: none;
  }

  .ratingBoxMobile {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: flex-end;
    margin-bottom: 12px;
    margin-top: 20px;
  }

  .venueRatingMobile {
    display: flex;
    flex-direction: row;
  }
  .ratingBox,
  .venueNameRatingBox {
    display: none;
  }

  .facilityList {
    margin-top: 0;
    margin-bottom: 20px;
    height: auto;
    justify-content: center;
  }

  .venueInfoBoxTwo {
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
    padding: 0;
    height: auto;
    margin-top: 8px;
  }

  .venueNameRatingBoxMobile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .starMobile {
    color: var(--secondary-color);
    width: 100%;
    white-space: none;
  }

  .venueNameMobile {
    width: auto;
    text-align: center;
    margin-bottom: 8px;
  }

  .ratingNumberBg {
    width: 32px;
    height: 32px;
  }

  .venueInfoBoxOne {
    flex-direction: column;
    align-items: center;
  }
  .descriptionBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    max-width: 250px;
  }

  .bookingsInfoMsgBox {
    height: 50px;
    position: static;
    padding-bottom: 0;
    margin-bottom: 10px;
  }

  .desktopViewBookings {
    display: none;
  }

  .bookingNumDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px
  }
}

@media (max-width: 486px) {
  .desktopViewBookings {
    display: none;
  }

  .mobileViewBookings {
    display: flex;
  }
  .venueCardPosition {
    flex-direction: column;
  }
  .outerBox {
    flex-direction: column;

    width: 80vw;
  }
  .innerBox {
    flex-direction: column;
    height: 100%;
    max-width: 400px;
  }

  .venueBoxOne {
    flex-direction: column;
    height: max-content;
    width: max-content;
    gap: 0;
  }

  .mobileLayoutBoxOne {
    display: flex;
    flex-direction: column-reverse;
  }

  .venueNameRatingBoxMobile {
    display: flex;
    flex-direction: column;
  }

  .venueNameRatingBox {
    display: none;
  }

  .ratingBoxMobile {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: flex-end;
    margin-bottom: 12px;
    margin-top: 20px;
  }

  .venueRatingMobile {
    display: flex;
    flex-direction: row;
  }
  .ratingBox,
  .venueNameRatingBox {
    display: none;
  }

  .facilityList {
    margin-top: 0;
    margin-bottom: 20px;
    height: auto;
    justify-content: center;
  }

  .venueInfoBoxTwo {
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 0;
    height: auto;
    margin-top: 8px;
    min-width: 200px;
    max-width: 220px;
  }

  .venueNameRatingBoxMobile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .starMobile {
    color: var(--secondary-color);
    width: 100%;
    white-space: none;
  }

  .venueNameMobile {
    width: auto;
    text-align: center;
    margin-bottom: 8px;
  }

  .ratingNumberBg {
    width: 32px;
    height: 32px;
  }

  .venueInfoBoxOne {
    flex-direction: column;
    align-items: center;
  }
  .descriptionBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    max-width: 250px;
  }

  .bookingsInfoMsgBox {
    height: 50px;
    position: static;
    padding-bottom: 0;
    margin-bottom: 10px;
  }

  .buttonDiv {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 12px;
  }

  .outerBtnDiv {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
  }

  .buttonDivPopup {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

 

  .bookingRowDiv {
    width: 200px;
  }

  .bookingInfoDiv {
    flex-direction: column;
    width: 100%;
  }

  .desktopViewBookings {
    display: none;
  }

  .mobileViewBookings {
    display: block;
  }

  .bookingCardBg {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
