.buttonDiv{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    padding-top: 20px;
    gap: 12px;
}

.h1CreateBtnDiv{
    display: flex;
    flex-direction: column;
 align-items: center;
 width: 100vw;
    gap: 12px;
     padding-top: 20px;
}

.outerBox{
     width: 1000px;
  height: 506px;
  background-color: var(--primary-color-2);
  margin-bottom: 20px;
border-radius: 5px;
border: 3px solid var(--tertiary-color-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerBox{
     max-width: 875px;
  width: auto;
  height: 310px;
  background-color: var(--primary-color-1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 4px;
}
.carousel{

 width: 250px;
 height: 250px;
}


