.buttonDiv {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  padding-top: 20px;
  gap: 12px;
}

.h1CreateBtnDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  gap: 12px;
  padding-top: 20px;
}

.outerBox {
  width: 90vw;
  height: 506px;
  background-color: var(--primary-color-2);
  margin-bottom: 20px;
  border-radius: 5px;
  border: 3px solid var(--tertiary-color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.innerBox {
  max-width: 875px;
  width: 100%;
  height: 310px;
  background-color: var(--primary-color-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

}

.venueCardLayoutBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   width: 100%;
   height: 310px;
    gap: 20px;
}



.venueBoxOne {
  display: flex;
  flex-direction: row;
    justify-content: center;
    height: 310px;
    width: auto;
    align-items: center;
}

.venueInfoBoxTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.venueCarousel {
  width: 250px;
  height: 250px;
  align-items: center;
    justify-content: center;
   
}

.imgContainer {
   display: flex;
    flex-direction: row;
 justify-content: center;
align-items: center;
width: 250px;
height: 250px;
overflow: hidden;
object-fit: contain;
border-radius: 5px;
}

.venueImg {
  max-width: 350px;
  max-height: 350px;
  width: auto;
  height: auto;
  border-radius: 5px;
    object-fit: contain;
}

.venueCardPosition {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.star {
  color: var(--secondary-color);
  width: 100%;
  white-space: none;
}

.ratingNumberBg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color-2);
  width: 54px;
  height: 48px;
  border-radius: 5px;
}

.bookingsMessage {
  position: absolute;
}

.venueInfoBoxOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 200px;
  height: 310px;

}
