.buttonPrimary {
  background-color: var(--secondary-color-2) !important;
  color: var(--primary-color-1) !important;
  border: none;
  border-radius: 5px !important;
  cursor: pointer;
  padding: 12px 24px !important;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25)) !important;
  font-family: var(--font-family-3) !important;
}

.buttonPrimary:hover {
  background-color: var(--Button-Hover-color-2) !important;
  filter: drop-shadow(2px 4px 4px #ffffff) !important;
}

.buttonPrimary:active {
  background-color: var(--Button-Active-color-2) !important;
  box-shadow: inset 0 0 20px #320e3b !important;
}

.buttonPrimary:focus {
  background-color: var(--Button-Active-color-2) !important;
  box-shadow: inset 0 0 30px #320e3b !important;
}

.buttonSecondary {
  background-color: var(--secondary-color) !important;
  color: var(--primary-color-1) !important;
  border: none;
  border-radius: 5px !important;
  cursor: pointer;
  padding: 12px 24px  !important;
  font-family: var(--font-family-3) !important;
}

.buttonSecondary:hover {
  background-color: var(--Button-Hover-color-1) !important;
  filter: drop-shadow(2px 4px 4px #ffffff) !important;
}
.buttonSecondary:active {
  background-color: var(--Button-Active-color-1) !important;
  box-shadow: inset 0 0 20px #320e3b !important;
  
}

.buttonSecondary:focus {
  background-color: var(--Button-Active-color-1) !important;
  box-shadow: inset 0 0 30px #320e3b !important;
  
}

.buttonsFonts {
  font-size: var(--font-size-small-3);
  font-family: var(--font-family-3);
}

.links {
  font-family: var(--font-family-3);
  font-size: var(--font-size-small-3);
  color: var(--secondary-color-2);
  text-decoration: none;
}

.links:hover {
  color: var(--Button-Hover-color-2);
  filter: drop-shadow(0px 4px 4px #e55299);
  text-decoration: none;
}

.links:active {
  color: var(--Button-Active-color-2);
  text-decoration: none;
  box-shadow: inset 5px 11px 0px rgba(0, 0, 0, 0.38);
}

.h1WhiteXLargeDesktop {
  font-size: var(--font-size-x-large);
  color: var(--primary-color-1);
  font-family: var(--font-family-1);
  font-weight: bold;
  text-align: center;
  line-height: 130%;
  letter-spacing: 2%;
}

.h1BlackXLargeDesktop {
  font-size: var(--font-size-x-large);
  color: var(--primary-color-3);
  font-family: var(--font-family-1);
  font-weight: bold;
  text-align: center;
  line-height: 130%;
  letter-spacing: 2%;
}

.h1White {
  font-size: var(--font-size-large);
  color: var(--primary-color-1);
  font-family: var(--font-family-1);
  font-weight: bold;
  text-align: center;
  line-height: 130%;
  letter-spacing: 2%;
}

.h1Black {
  font-size: var(--font-size-large);
  color: var(--primary-color-3);
  font-family: var(--font-family-1);
  font-weight: bold;
  line-height: 130%;
  letter-spacing: 2%;
}

.h2White {
  font-size: var(--font-size-large-2);
  color: var(--primary-color-1);
  font-family: var(--font-family-1);
  font-weight: bold;
  text-align: center;
  line-height: 130%;
  letter-spacing: 1.5%;
}

.h2Black {
  font-size: var(--font-size-large-2);
  color: var(--primary-color-3);
  font-family: var(--font-family-1);
  font-weight: bold;
  text-align: center;
  line-height: 130%;
  letter-spacing: 1.5%;
}

.h3White {
  font-size: var(--font-size-medium);
  color: var(--primary-color-1);
  font-family: var(--font-family-1);
  font-weight: bold;
  text-align: center;
  line-height: 130%;
  letter-spacing: 1.5%;
}
.h3Black {
  font-size: var(--font-size-medium);
  color: var(--primary-color-3);
  font-family: var(--font-family-1);
  font-weight: bold;
  text-align: center;
  line-height: 130%;
  letter-spacing: 1.5%;
}

.labelWhite .MuiInputLabel-root {
  font-size: var(--font-size-small);
  color: var(--primary-color-1);
  font-family: var(--font-family-2);
}

.labelWhiteBold {
  font-size: var(--font-size-small);
  color: var(--primary-color-1);
  font-family: var(--font-family-2);
  font-weight: bold;
}

.bodyWhite {
  font-size: var(--font-size-small);
  color: var(--primary-color-1);
  font-family: var(--font-family-2);
  line-height: 150%;
  letter-spacing: 0.5%;
}

.bodyBlack {
  font-size: var(--font-size-small);
  color: var(--primary-color-3);
  font-family: var(--font-family-2);
  line-height: 150%;
  letter-spacing: 0.5%;
}

/* Media Queries */

@media (min-width: 487px) and (max-width: 768px) {
  .h1White {
    font-size: var(--font-size-large-2);
    color: var(--primary-color-1);
    font-family: var(--font-family-1);
    font-weight: bold;
    text-align: center;
    line-height: 130%;
    letter-spacing: 2%;
  }
  .h1Black {
    font-size: var(--font-size-large-2);
    color: var(--primary-color-3);
    font-family: var(--font-family-1);
    font-weight: bold;
    line-height: 130%;
    letter-spacing: 2%;
  }

  .h2White {
    font-size: var(--font-size-medium);
    color: var(--primary-color-1);
    font-family: var(--font-family-1);
    font-weight: bold;
    text-align: center;
    line-height: 130%;
    letter-spacing: 1.5%;
  }

  .h2Black {
    font-size: var(--font-size-medium);
    color: var(--primary-color-3);
    font-family: var(--font-family-1);
    font-weight: bold;
    text-align: center;
    line-height: 130%;
    letter-spacing: 1.5%;
  }

  .h3White {
    font-size: var(--font-size-medium-2);
    color: var(--primary-color-1);
    font-family: var(--font-family-1);
    font-weight: bold;
    text-align: center;
    line-height: 130%;
    letter-spacing: 1.5%;
  }
  .h3Black {
    font-size: var(--font-size-medium-2);
    color: var(--primary-color-3);
    font-family: var(--font-family-1);
    font-weight: bold;
    text-align: center;
    line-height: 130%;
    letter-spacing: 1.5%;
  }

  .bodyWhite {
    font-size: var(--font-size-small-2);
    color: var(--primary-color-1);
    font-family: var(--font-family-2);
    line-height: 160%;
    letter-spacing: 0.5%;
  }

  .bodyBlack {
    font-size: var(--font-size-small-2);
    color: var(--primary-color-3);
    font-family: var(--font-family-2);
    line-height: 160%;
    letter-spacing: 0.5%;
  }
}

@media (max-width: 486px) {
  .h1White {
    font-size: var(--font-size-medium);
    color: var(--primary-color-1);
    font-family: var(--font-family-1);
    font-weight: bold;
    text-align: center;
    line-height: 120%;
    letter-spacing: 2%;
  }

  .h1Black {
    font-size: var(--font-size-medium);
    color: var(--primary-color-3);
    font-family: var(--font-family-1);
    font-weight: bold;
    text-align: center;
    line-height: 120%;
    letter-spacing: 2%;
  }

  .h2White {
    font-size: var(--font-size-medium-2);
    color: var(--primary-color-1);
    font-family: var(--font-family-1);
    font-weight: bold;
    text-align: center;
    line-height: 120%;
    letter-spacing: 1.5%;
  }
  .h2Black {
    font-size: var(--font-size-medium-2);
    color: var(--primary-color-3);
    font-family: var(--font-family-1);
    font-weight: bold;
    text-align: center;
    line-height: 120%;
    letter-spacing: 1.5%;
  }

  .h3White {
    font-size: var(--font-size-medium-3);
    color: var(--primary-color-1);
    font-family: var(--font-family-1);
    font-weight: bold;
    text-align: center;
    line-height: 120%;
    letter-spacing: 1.5%;
  }
  .h3Black {
    font-size: var(--font-size-medium-3);
    color: var(--primary-color-3);
    font-family: var(--font-family-1);
    font-weight: bold;
    text-align: center;
    line-height: 120%;
    letter-spacing: 1.5%;
  }

  .bodyWhite {
    font-size: var(--font-size-small-3);
    color: var(--primary-color-1);
    font-family: var(--font-family-2);
    line-height: 160%;
    letter-spacing: 0.5%;
  }

  .bodyBlack {
    font-size: var(--font-size-small-3);
    color: var(--primary-color-3);
    font-family: var(--font-family-2);
    line-height: 160%;
    letter-spacing: 0.5%;
  }

  .labelWhite {
    font-size: var(--font-size-small-3);
    color: var(--primary-color-1);
    font-family: var(--font-family-2);
  }

  .labelWhiteBold {
    font-size: var(--font-size-small-3);
    color: var(--primary-color-1);
    font-family: var(--font-family-2);
    font-weight: bold;
  }

  .links {
    font-family: var(--font-family-3);
    font-size: var(--font-size-tiny);
    color: var(--secondary-color-2);
    text-decoration: none;
  }

  .links:hover {
    color: var(--Button-Hover-color-2);

    filter: drop-shadow(0px 4px 4px #e55299);
    text-decoration: none;
  }
  .links:active {
    color: var(--Button-Active-color-2);
    text-decoration: none;
    box-shadow: inset 5px 11px 0px rgba(0, 0, 0, 0.38);
  }

  .buttonsFonts {
    font-size: var(--font-size-tiny);
    font-family: var(--font-family-3);
  }

  .buttonPrimary {
  padding: 16px 32px !important;
font-size: var(--font-size-tiny) !important;
  }

  .buttonSecondary {
    padding: 16px 32px !important;
    font-size: var(--font-size-tiny) !important;
  }

  .labelWhite .MuiInputLabel-root {
    font-size: var(--font-size-tiny);
    color: var(--primary-color-1);
    font-family: var(--font-family-2);
  }

  .labelWhiteBold {
    font-size: var(--font-size-tiny);
    color: var(--primary-color-1);
    font-family: var(--font-family-2);
    font-weight: bold;
}
}
