
.hamburgerButton {
    display: none;
    background: none;
  border: none;
}

.nav{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%
  
}

.mobileNavDiv{
  display: none;


}



.logoMenuDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  position: absolute;
  left: 20px;
}

.logo{
  
  width: 85px;
  height: 85px;
  border-radius: 20px;
  border: 2px solid var(--secondary-color);
}

.logoDiv{
  position: absolute;
  left: 20px;
}


.header {
  display: flex;
 justify-content: center;
  width: 90vw;
  height: 100px;
  
  align-items: center;
  position: relative;
   background-color: var(--primary-color-2);
  border-radius: 20px;
margin-top: 20px;

}

.headerDiv {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  position: relative;

}

.navDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.navIcons{
  width:32px;
  height:32px;
}



.navLink{
  color: var(--secondary-color-2);
  font-family: var(--font-family-2);
    font-size: var(--font-size-small-3);
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: row;
 align-items: center;
 gap: 10px;
}

.navLinkWhite{
  color: var(--primary-color-1);
  font-family: var(--font-family-2);
    font-size: var(--font-size-small-3);
    cursor: pointer;
  text-decoration: none;
}



.labelWhite {
  font-size: var(--font-size-small);
  color: var(--primary-color-1);
  font-family: var(--font-family-3);
}

.labelWhiteBold{
   font-size: var(--font-size-small);
  color: var(--primary-color-1);
  font-family: var(--font-family-2);
  font-weight: bold;
}

.dropDownBox{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 200px;
  height: 166px;
  background-color: var(--primary-color-2);
  position: absolute !important;
right: 50px;
  z-index: 9999;
  margin-top: -10px;
border-radius: 5px;
}

.dropDownBoxContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
position: relative;


}

.accountIcon{
  cursor: pointer;
background: none;
border: none;
}

.profileInfoBox{
  display: flex;
  flex-direction: row;

 margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

.avatarBox{
 margin-left:auto;
 margin-right:auto;
}

.userNameBox{
  margin-left:auto;
 margin-right:auto;
}

.accountBox{

  display: flex;
  flex: 1;
}
.profileLinkBox{
  display: flex;
  flex-direction: column;
width: 150px;
  align-items: start;
  gap: 10px;
}

.profileLinkWrapper{
  display: flex;
  flex-direction: row;
 align-items: center;
gap: 10px;
}

.accountDiv{
  position: absolute;
  right: 20px;

}



@media (max-width: 486px){




.mobileMenu{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  width: 126px;
  height: auto;
  background-color: var(--primary-color-2);
  align-items: center;
  padding: 10px;

}

  .hamburgerButton {
    display: block; 
    cursor: pointer;
    background: none;

  }

.mobileNavDivBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;

}

  .mobileNavDiv{

     display: none;
    position: absolute;
    top: 114px;
      left: 150px;
    width: 80px; 
    height: auto;
    background-color: var(--primary-color-2);
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
     margin-top: -120px;
  }

  .mobileNavDiv.active{
   display:block
  }
 

  .navDiv{
  display: none;
}



 .logoDiv{
  position: static;
  left: 20px;
}



  
}

@media (min-width: 487px) and (max-width: 768px) {

.navDiv{
  display: none;
}




.mobileMenu{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  width: 126px;
  height: auto;
  background-color: var(--primary-color-2);
  align-items: center;
  padding: 10px;

}

  

  .hamburgerButton {
    display: block; 
    cursor: pointer;
    background: none;
   
  }
.mobileNavDivBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;

}

    .mobileNavDiv{
 flex-direction: column;
 align-items: center;
     display: none;
    position: absolute;
    top: 114px;
    left: 165px;
    width: 126px; 
    height: auto;
    background-color: var(--primary-color-2);
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
    margin-top: -120px;
  }

   .mobileNavDiv.active{
   display:block;
  }


  .logoDiv{
  position: static;
left: 20px;
}


.navLink, .navLinkWhite{
  
    font-size: var(--font-size-tiny);

}

} 

